@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-1 flex-col">
    <div class="text-center">
        <h1>Ninja manager</h1>
        <h3>Programmeren 5</h3>
        <p>Gemaakt door: Peter Venner & Lucas Kooijmans</p>
    </div>
</div>