@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-1 flex-col">
    <div class="text-center">
        <h1 class="display-4">Programmeren 5 - Ninja manager</h1>
        <p>Gemaakt door: Peter Venner & Lucas Kooijmans</p>
    </div>
</div>